<div href="#" class="tile tile--square d-block">
  <div class="tile__image" [style.backgroundImage]="'url(' + image + ')'">
    <div class="tile__content tile--head-up tile--head-up-full" data-simplebar>
      <p class="headline" [innerHtml]="headline"></p>
      <p class="description" *ngIf="subhead" [innerHtml]="subhead"></p>
      <p class="description" *ngIf="text" [innerHtml]="text"></p>
      <ul class="tile-link-list reveal-on-hov">
        <li *ngFor="let link of links">
          <dai-link [data]="link" [textLimit]="getTextLimit('text')"></dai-link>
        </li>
      </ul>
    </div>
  </div>
</div>
