@media (hover: hover) {
  .tile-link-list {
    opacity: 0;
    transition: 0.66s opacity;
  }

  .tile .tile--head-up {
    &.hover-reveal {
      top: 270px;
      transition: 0.2s top;
    }
  }

  .tile:hover .tile--head-up {
    &.hover-reveal {
      top: 110px;
    }

    .tile-link-list {
      opacity: 1;
    }
  }
}
