/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$cargan: "Cargan", serif;

$responsive-xxs: 374px;
$responsive-xs: 767px;
$responsive-sm: 1023px;
$responsive-md: 1200px;

$lighter-gray: #d3d3cf;
$light-gray: #c3c3c3;
$gray: #b1b1b1;
$dark-gray: #a6a6a6;
$darker-gray: #565551;
$burdo: #67041c;
$blue: #5882c2;

$grid-breakpoints: (
  xs: 0,
  xsm: 450px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px
) !default;
