<ng-template #content><ng-content></ng-content></ng-template>
<ng-container *ngIf="!useContent">
  <a
    *ngIf="type === LinkType.ROUTE"
    [routerLink]="link"
    [innerHtml]="text | slice: 0:textLimit"
  >
  </a>
  <a
    *ngIf="type === LinkType.HREF"
    [href]="link"
    [innerHtml]="text | slice: 0:textLimit"
  >
  </a>
</ng-container>
<ng-container *ngIf="useContent">
  <a
    *ngIf="type === LinkType.ROUTE"
    [routerLink]="link"
    [class.no-point]="link === '.'"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
  <a *ngIf="type === LinkType.HREF" [href]="link">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </a>
</ng-container>
