<div class="container">
  <header *ngIf="title" class="section__head">
    <h3 [innerHtml]="title"></h3>
    <hr class="line__dotted--blue" />
  </header>

  <div
    class="section__body"
    [class.multi-row]="config?.rows > 1"
    [class.pt-0]="config?.rows > 1"
  >
    <div
      #slides
      [ngClass]="{
        slider__slides: enableSliding,
        'row justify-content-md-between pb-4': !enableSliding,
        'ml-n4 mr-n4 mb-n4': enableSliding
      }"
    >
      <ng-container *ngFor="let tileConfig of tiles">
        <div
          [ngClass]="{
            slide: enableSliding,
            'col-sm-6 col-lg-4 mb-4': !enableSliding
          }"
        >
          <ng-container
            *ngxComponentOutlet="tileConfig.type; context: { data: tileConfig }"
          ></ng-container>
        </div>
      </ng-container>
    </div>
    <div
      *ngIf="config.text"
      style="padding-bottom: 85px;"
      [innerHtml]="text"
    ></div>
  </div>
</div>
