<!-- <div class="section-archeological-images"> -->
<div class="section__body" [class.container]="!useFullWidth">
  <div #slides class="slider-arch-images">
    <div *ngFor="let image of images" class="slider__clip">
      <dai-link [useContent]="true" [data]="image.link">
        <div class="slider__slides">
          <div class="slider__slide">
            <div class="section__image">
              <img [src]="image.src" class="img-fluid" style="width: 100%" />
              <div
                *ngIf="image.title || image.description"
                class="section__content"
              >
                <div class="container">
                  <h2 *ngIf="image.title" [innerHtml]="image.title"></h2>

                  <p
                    *ngIf="image.description"
                    [innerHtml]="image.description"
                  ></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </dai-link>
    </div>
  </div>
</div>
<!-- </div> -->
