<section class="section__subpage-banner subpage-banner-full decoration-bg-blue">
  <div class="section__body">
    <div class="row no-gutters">
      <div class="col">
        <div class="tile tile--square">
          <div
            class="tile__image"
            [style.backgroundImge]="'url(' + image + ')'"
          >
            <div class="tile__content">
              <h2 class="tile__title">{{ title }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
