<section
  class="section__hierarchy section__textbox section-open-access decoration-bg-lighter-gray pt-0"
>
  <div class="container">
    <header class="section__head">
      <h3 [innerHtml]="config?.headline"></h3>
      <hr class="line__dotted--blue" />
    </header>
    <!-- /.section__head -->

    <div class="section__body">
      <div [innerHtml]="config?.text"></div>
      <dai-hierarchy [nodes]="config?.nodes"></dai-hierarchy>
      <!-- <div class="row level-1">
        <div class="col-12">
          <div class="level-content">Secretary General</div>
          <div class="row level-2">
            <div class="col-md-5 col-12 pr-lg-2">
              <div class="level-content">Director Informationtechnology</div>
              <div class="row level-3">
                <div class="col-md-6 col-12 pr-lg-2">
                  <div class="level-content">Technical IT</div>
                </div>
                <div class="col-md-6 col-12 pl-lg-2">
                  <div class="level-content">Scientifical IT</div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-12 pl-lg-2">
              <div class="level-content">Director Libraries</div>
              <div class="row level-3">
                <div class="col-md-4 col-12 pr-lg-2">
                  <div class="level-content">
                    <span class="text-left pl-3">Editorial Office Berlin</span>
                  </div>
                </div>
                <div class="col-md-4 col-12 pl-lg-2 pr-lg-2">
                  <div class="level-content">Libraries</div>
                </div>
                <div class="col-md-4 col-12 pl-lg-2">
                  <div class="level-content">Archives</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- /.section__body -->
  </div>
  <!-- /.container -->
</section>
<!-- /.section__textbox -->
