<article class="article ">
  <div class="article-teaser row">
    <div class="article-image col-sm-4">
      <figure *ngIf="teaser?.image">
        <img [src]="teaser?.image?.src" [title]="teaser?.image?.title" />
        <figcaption [innerHtml]="teaser?.image?.caption"></figcaption>
      </figure>
    </div>
    <div class="article-text col-sm-8 ">
      <div class="meta-info">
        <span class="date color-darker-gray">{{ date }}</span>
        <span class="category color-burdo">{{ category }}</span>
      </div>
      <h2 [innerHtml]="headline"></h2>
      <div [innerHtml]="teaser?.content"></div>
    </div>
  </div>

  <div *ngIf="isLoading"><dai-spinner></dai-spinner></div>

  <div *ngIf="showMore" class="article-more row">
    <div *ngIf="more" class="article-image col-sm-4">
      <figure *ngFor="let image of more.images">
        <img
          [src]="image.src ? image.src : image"
          [title]="image.title ? image.title : image"
        />
        <figcaption
          *ngIf="image.caption"
          [innerHtml]="image.caption"
        ></figcaption>
      </figure>
    </div>
    <div class="article-text col-sm-8 ">
      <div [innerHtml]="more?.content"></div>
    </div>
  </div>

  <button class="show-more" (click)="onShowMoreClick()">
    {{ showMore ? "hide" : "show" }}
  </button>
</article>
