<!-- <section
  class="section__textbox textbox-with-search section-open-access decoration-bg-lighter-gray"
> -->
<div class="container">
  <header class="section__head">
    <h3 [innerHtml]="config?.headline"></h3>
    <hr class="line__dotted--blue" />
  </header>

  <div class="section__body">
    <div [innerHtml]="config?.text"></div>
    <dai-arachne-searchbar
      [placeholder]="config?.placeholder"
      [disableCategories]="config?.disableCategories"
    ></dai-arachne-searchbar>
  </div>
</div>
<!-- </section> -->
