<div class="container">
  <div class="section__head">
    <h3 [innerHtml]="config?.headline"></h3>
    <hr class="line__dotted--blue" />
  </div>

  <div class="section__body">
    <div [innerHtml]="config?.text"></div>
    <dai-idai-search
      [disabled]="true"
      [placeholder]="config?.placeholder"
      [disableCategories]="config?.disableCategories"
      [categories]="config?.categories"
      [showCategory]="config?.showCategory"
      (submit)="onSearchSubmit($event)"
    ></dai-idai-search>
  </div>
</div>
