<footer class="footer decoration-bg-blue">
  <div class="container">
    <a href="https://www.dainst.org">
      <img src="assets/images/content/footer/idai_footer.png" alt="DAI" />
    </a>        
  </div>
  <div class="container additional-row">
      <p><span class="slogan">iDAI.world is a service of the German Archaeological Institut.</span> > <a href="https://www.dainst.org/en/datenschutz" target="_blank">Data Protection Regulation</a></p>  
  </div>
  <!-- /.container -->
</footer>
<!-- /.footer -->
