<!-- <section
  class="section__systems systems-link section-publications decoration-bg-blue"
> -->
<header class="section__head">
  <div class="container">
    <h3 [innerHtml]="config?.headline | slice: 0:headlineLimit"></h3>
  </div>
</header>

<div class="section__body">
  <div class="container">
    <div class="row">
      <div *ngFor="let item of content" class="col custom-gutter">
        <ng-template #contentTmpl>
          <p
            class="headline"
            [innerHtml]="item.headline | slice: 0:contentHeadlineLimit"
          ></p>
          <p
            class="description"
            [innerHtml]="item.text | slice: 0:contentTextLimit"
          ></p>
        </ng-template>
        <dai-link
          *ngIf="item.link"
          [useContent]="true"
          [data]="item.link"
          [class.col-sm-6]="content.length === 1"
          class="tile tile--rectangle decoration-bg-lighter-gray h-100 info_box__item"
        >
          <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
        </dai-link>

        <ng-container *ngIf="!item.link">
          <div
            [class.col-sm-6]="content.length === 1"
            class="tile tile--rectangle decoration-bg-lighter-gray h-100 info_box__item"
          >
            <ng-container *ngTemplateOutlet="contentTmpl"></ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- </section> -->
