<!-- <section
  class="section__systems systems-link section-publications decoration-bg-blue"
> -->
<header class="section__head">
  <div class="container">
    <h3 [innerHtml]="config?.headline | slice: 0:headlineLimit"></h3>
  </div>
</header>

<div class="section__body">
  <div class="container">
    <div class="row">
      <div *ngFor="let item of content" class="col custom-gutter">
        <dai-link
          [useContent]="true"
          [data]="item.link"
          class="tile tile--rectangle decoration-bg-lighter-gray h-100"
        >
          <p
            class="headline"
            [innerHtml]="item.headline | slice: 0:contentHeadlineLimit"
          ></p>
          <p
            class="description"
            [innerHtml]="item.text | slice: 0:contentTextLimit"
          ></p>
        </dai-link>
      </div>
    </div>
  </div>
</div>
<!-- </section> -->
