<div
  *ngFor="let group of items; index as idx"
  class="col-md-{{ getColumnSize() }}"
>
  <nav
    class="nav"
    [ngClass]="{
      'nav--first': idx === 0 && level === 0,
      'decoration-bg-light-gray': idx === 0,
      'decoration-bg-gray': idx === 1,
      'decoration-bg-dark-gray': idx > 2
    }"
  >
    <h3>
      {{ group.name }}
    </h3>

    <ul>
      <li *ngFor="let entry of group.items">
        <a
          (click)="onLinkClick(entry.link)"
          [routerLink]="entry.link"
          *ngIf="!entry.items"
          >{{ entry.name }}</a
        >

        <dai-navmenu
          *ngIf="entry.items"
          [level]="level + 1"
          [items]="[entry]"
          (linkClick)="onLinkClick($event)"
        ></dai-navmenu>
      </li>
    </ul>
  </nav>
</div>
