<div *ngFor="let group of items; index as idx" [class]="groupClass">
  <nav class="nav h-100" [ngClass]="getBgClass(idx, level)">
    <h3 *ngIf="group.name">
      {{ group.name }}
    </h3>

    <ul>
      <li *ngFor="let entry of group.items">
        <dai-link
          (click)="onLinkClick(entry.link)"
          [data]="{
            target: entry.link,
            text: entry.name
          }"
        ></dai-link>

        <dai-navmenu
          *ngIf="entry.items"
          [level]="level + 1"
          [items]="[entry]"
          (linkClick)="onLinkClick($event)"
        ></dai-navmenu>
      </li>
    </ul>
  </nav>
</div>
