/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article {
	padding: 65px 20px 65px 50px;

	p {
		margin-bottom: 5px;
	}

	a {
		color: $blue;
		transition: .3s;

		&:hover {
			color: darken($blue, 20%);
		}
	}

	.article__date {
		color: $burdo;
	}

	.article__title {
		margin-bottom: 5px;
		color: $blue;
	}

	.article__inner {
		display: flex;
	}

	.article__image-container {
		width: 32%;
		margin-right: 30px;
		flex-shrink: 0;
	}

	.article__image {
		padding-top: 100%; 
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}

@media( max-width: 1024px ) {
	.article {
		padding: 30px 30px 50px;

		.article__inner {
			flex-direction: column;
		}

		.article__image-container {
			width: 100%;
			margin-right: 0; 
			margin-bottom: 20px;
		}
	}
}