/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article {
  padding: 30px 30px 75px;

  display: flex;

  p {
    margin-bottom: 5px;
  }

  a {
    color: $blue;
    transition: 0.3s;

    &:hover {
      color: darken($blue, 20%);
    }
  }

  .article__content {
    flex: 1;
    min-width: 150px;
  }

  .article__date {
    color: $burdo;
  }

  .article__title {
    margin-bottom: 5px;
    color: $blue;
    font-size: 23px;
  }

  .article__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .article__image-container {
    width: 32%;
    margin-right: 30px;
    flex-shrink: 0;

    min-width: 120px;
  }

  .article__image {
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@include media-breakpoint-up(sm) {
  .article {
    flex-direction: column;
    align-items: center;

    .article__inner {
    }
    .article__image-container {
    }
  }
}

@include media-breakpoint-up(md) {
  .article {
    .article__inner {
      max-width: 200px;
    }

    .article__image-container {
      min-width: 200px;
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .article {
    .article__inner {
    }

    .article__image-container {
    }
  }
}

@include media-breakpoint-up(xl) {
  .article {
    .article__inner {
      max-width: unset;
    }

    .article__image-container {
    }
  }
}

@include media-breakpoint-down(lg) {
  .article {
    .article__inner {
    }

    .article__image-container {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

@include media-breakpoint-down(md) {
  .article {
    padding: 30px;
    overflow: hidden;
  }

  .article .article__inner {
  }

  .article .article__image {
  }

  .article .article__image-container {
  }
  p.article__entry {
    font-size: 16px;
  }

  h5 {
    font-size: 20px;
  }

  p.article__date {
    font-size: 12px;
  }
  .section-articles .section__body {
    position: relative;
    padding-bottom: 110px;
  }

  .section-articles a.link-more {
    bottom: 10px;
    padding: 30px;
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .article {
    .article__inner {
      // flex-direction: row;
    }
    .article__image-container {
      max-width: 140px;
      margin-right: 20px;
    }
  }
}
