/* ------------------------------------------------------------ *\
	Decoration
\* ------------------------------------------------------------ */

.decoration-bg-light-gray { 
	background-color: $light-gray;
}

.decoration-bg-gray { 
	background-color: $gray;
}

.decoration-bg-dark-gray {
	background-color: $dark-gray;
}

.decoration-bg-lighter-gray {
	background-color: $lighter-gray;
}

.decoration-bg-blue {
	background-color: $blue;
}