/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	text-align: center;
	padding: 100px 0 20px 0;
        color: white;
}

.footer .additional-row {
        font-size: 14px;
        margin-top: 80px;        
}

.footer .additional-row .slogan {
        margin-right: 30px;
}

@media( max-width: 767px ) {
	.footer {
		padding: 30px 0 15px 0;
	}
        .footer .additional-row {                
                margin-top: 30px;        
        }
        .footer .additional-row .links {
                display: block;
                margin-top: 15px;
        }
}