$bg-color-left: #6aa4b8;
$bg-color-right: #477bc7;

@mixin header-md() {
  header.header {
    max-height: 70px;
  }

  .header .header__inner {
    transition: 0.3s all;
    align-items: center;
    padding: 8px 10px;
    height: 100%;
  }

  .header .header__container {
    transition: 0.3s all;
    width: 50px;
    margin-bottom: auto;
  }

  .nav-trigger {
    transition: 0.3s all;
    margin-left: 5px;
    max-height: 45px;
    padding-top: 8px;
  }

  .nav-trigger span {
    transition: 0.3s all;
    width: 40px;
    height: 6px;
  }

  .nav-trigger span + span {
    transition: 0.3s all;
    margin-top: 8px;
  }

  .nav-trigger.active span {
    transition: 0.3s all;
    height: 5px;
  }

  .nav-trigger.active span + span {
    transition: 0.3s all;
    margin-top: 11px;
  }

  .ico-logo-subpage {
    transition: 0.3s all;
    width: 120px;
    height: 60px;
  }

  .header i.ico-griffin {
    transition: 0.3s all;
    width: 45px;
    height: 34px;
    margin-top: 10px;
    margin-right: 20px;
  }

  .nav-trigger.active {
    transition: 0.3s all;
    transform: translateY(0);
  }
}

@mixin header-sm {
  .header {
    .header__inner {
      padding: 20px;
    }

    i.ico-griffin {
      width: 60px;
      height: 45px;
    }

    .header__container {
      width: 60px;
      margin-bottom: 5px;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .header__inner {
    padding: 25px 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .header__container {
    width: 90px;
    margin-bottom: 22px;
  }
}

.sticky {
  position: fixed;
}

.shrink {
  @media (min-width: 993px) {
    @include header-md();
  }

  .header:not(.header__subpage) .logo i {
    width: 142px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  @include header-sm;
}

/* ------------------------------------------------------------ *\
	Header Subpage
\* ------------------------------------------------------------ */
.header__subpage {
  max-height: 150px;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .header__subpage .logo i {
    width: 71px;
    height: 40px;
  }
}

@media screen and (min-width: 1801px) {
  .header__subpage .header__inner {
    height: 150px;
  }
}

@media (max-width: 992px) {
  @include header-md();
}
