/* ------------------------------------------------------------ *\
	Links
\* ------------------------------------------------------------ */

.link-more {
	display: flex;
	align-items: center;
	span {
		margin-right: 20px;
	}
}