/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	display: block; 
}

@media( max-width: 767px ) {
	.logo {
		i {
			width: 142px; 
			height: 40px;
		}
	}
}