@import "~bootstrap/scss/mixins/breakpoints";
@import "./variables";
/* ------------------------------------------------------------ *\
	Tile
\* ------------------------------------------------------------ */

.tile {
  position: relative;
  display: block;

  .tile__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
  }

  .tile__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;

    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: auto;
  }

  .tile__title {
    width: 100vw;
    padding: 0px 15px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .tile__image-container {
    overflow: hidden;
  }

  &:hover {
    .tile__image--scale {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 1200px) {
  .tile {
    .tile__title {
      font-size: 40px;
    }
  }
}

/* ------------------------------------------------------------ *\
	Tile Overlay
\* ------------------------------------------------------------ */

.tile--overlay {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($blue, 0.5);
    transition: 0.3s;
  }

  &:hover:before {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .tile--overlay {
    &:before {
      display: none;
    }
  }
}

/* ------------------------------------------------------------ *\
	Tile Square
\* ------------------------------------------------------------ */

.tile--square {
  .tile__image {
    padding-top: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .section__three-tiles .section__body .col-xl-auto {
    max-width: 33.33333%;
  }
}

/* ------------------------------------------------------------ *\
	Tile Rectangle
\* ------------------------------------------------------------ */

.tile--rectangle {
  .tile__image {
    padding-top: 46%;
  }
}

/* ------------------------------------------------------------ *\
	Tile Scrolling
\* ------------------------------------------------------------ */

.tile .tile--head-up-full .simplebar-scrollbar:before {
  background: #557ebb;
  border-radius: 0;
  width: 10px;
}

.tile .tile--head-up-full .simplebar-scrollbar {
  right: 3px;
}

.tile .tile--head-up-full:hover .simplebar-scrollbar:before {
  opacity: 1 !important;
}

.tile .tile--head-up-full:hover .simplebar-track.simplebar-vertical {
  background: #d3d3cf;
}

.simplebar-track.simplebar-vertical {
  width: 10px !important;
  top: 10px !important;
  bottom: 10px !important;
  right: 10px !important;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
/* ------------------------------------------------------------ *\
	Tile Links
\* ------------------------------------------------------------ */
.tile-link-list {
  list-style: none;

  li {
    padding: 10px 0;
  }
}

.tile-link-list a {
  color: #fff;
}

.tile-link-list a:hover {
  color: #aabedd;
}

.tile-link-list a:before {
  content: "> ";
}

/* ------------------------------------------------------------ *\
	Tile Head Up
\* ------------------------------------------------------------ */

.tile--head-up {
  color: #fff;
  background-color: #605e59;
  opacity: 0.8;
  text-align: left;
}

.tile__content.tile--head-up {
  width: 100%;
  height: 100%;

  top: auto;
  bottom: -120%;

  padding: 15px 15px;
  transition: bottom 250ms, opacity 0.3s;

  hyphens: auto;
}

.reveal-on-hov {
  opacity: 0;
  transition: 0.66s opacity;
}

.tile:hover {
  .tile--head-up {
    bottom: calc(-120% + 10px);
  }

  .tile--head-up-full {
    bottom: -50%;
  }

  .reveal-on-hov {
    opacity: 1;
  }
}

.tile__content.tile--head-up {
  font-size: 18px;
  line-height: 1.2em;

  .tile-link-list {
    margin-top: 0.5em;
  }

  .tile-link-list a {
    font-size: 0.8em;
  }
}

.tile__content.tile--head-up .headline {
  font-family: "Cargan", serif;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 0.4em;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

  max-height: 2.4em;
}

.tile__content.tile--head-up .subhead {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  max-height: 1.3em;
}

.tile__content.tile--head-up .description {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4em;
  font-size: 0.8em;
}
// bootstrap breakpoint mixins

@include media-breakpoint-up(xsm) {
  .tile__content.tile--head-up {
    font-size: 11px;
  }
}

@include media-breakpoint-up(sm) {
  .tile__content.tile--head-up {
    font-size: 14px;
  }
}
@include media-breakpoint-up(md) {
  .tile__content.tile--head-up {
    font-size: 18px;
  }
}
@include media-breakpoint-up(lg) {
  .tile__content.tile--head-up {
    font-size: 18px;
  }
}
@include media-breakpoint-up(xl) {
  .tile__content.tile--head-up {
    font-size: 24px;
  }
}

@include media-breakpoint-up(xxl) {
  .tile__content.tile--head-up {
    font-size: 24px;
  }
}
