@import "./variables";

.no-point {
  pointer-events: none;
  cursor: auto;
}

.text-bold {
  font-weight: bold;
}

.text-white {
  color: #fff;
}

.text-light-gray {
  color: #bfbfbd;
}

.ml-20px {
  margin-left: 20px;
}

.color-lighter-gray {
  color: $lighter-gray !important;
}
.color-light-gray {
  color: $light-gray !important;
}
.color-gray {
  color: $gray !important;
}
.color-dark-gray {
  color: $dark-gray !important;
}
.color-darker-gray {
  color: $darker-gray !important;
}
.color-blue {
  color: $blue !important;
}
.color-burdo {
  color: $burdo !important;
}

.txt-center {
  text-align: center;
}
