@import "~bootstrap/scss/mixins/breakpoints";
@import "./variables";

.section__three-tiles .section__body {
  padding-top: 20px;
}

.section__three-tiles .tile.tile--square {
  overflow: hidden;
  margin: 0;
}

.section__three-tiles .slide .tile.tile--square {
  margin: 0 25px;
}
.section__three-tiles .multi-row .slide .tile.tile--square {
  margin: 1.5rem;
}

.section__three-tiles.section__textbox p {
  padding-bottom: 0;
}

.tile__content.tile--head-up p {
  margin-bottom: 1px;
}

@media screen and (max-width: 1230px) {
  .section__three-tiles .tile.tile--square {
    width: auto;
    height: auto;
  }
}

@media (min-width: 768px) {
  .section__three-tiles .row > *:nth-child(3n - 2) .tile.tile--square {
    margin: 0 !important;
    margin-right: auto !important;
  }

  .section__three-tiles .row > *:nth-child(3n - 1) .tile.tile--square {
    margin: 0 auto !important;
  }

  .section__three-tiles .row > *:nth-child(3n) .tile.tile--square {
    margin: 0 !important;
    margin-left: auto !important;
  }
}

.ml-n4,
.mx-n4 {
  margin-bottom: 2rem !important;
}
