.section__amount-docs {
  padding: 100px 0;
}

.section__amount-docs .section__body {
  text-align: center;
}

.section__amount-docs .section__body > div {
  display: inline-block;
  background: #a9a8a4;
  color: #fdfcfa;
  padding: 5px 45px;
}

.section__amount-docs .section__body .amount {
  font-size: 2em;
  padding-right: 15px;
}
